*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  background: #8256e7;
  justify-content: center;

  animation: color 16s infinite alternate;
}
.header{
  text-align: center;
}
.header span {
  color: #ffb700;
}
.header h1{
  color: #fff;
  font-weight: 400;
}
.grid-game{
  gap: 1rem;
  display: flex;
  margin-top: 19px;
  opacity: 0;
}
.grid-game.show{
  opacity: 1;
  animation: appear 1s;
}
.player-board {
  gap: 9px;
  width: 25%;
  display: grid;
}
.card-game {
  border-radius: 6px;
  text-align: center;
  background: white;
}
.card-game img {
  width: 60px;
  transition: all .2s;
}
.card-game img:hover{
  scale: 1.1;
  cursor: pointer;
}
.card-profile {
  border-radius: 6px;
  text-align: center;
  background: white;
  padding: 19px;
  font-size: .9rem;
  font-weight: 600;
}
.card-profile.user{
  color: #13903d;
}
.card-profile.laptop{
  color: #DC143C;
}
.board-game{
  width: 300px;
  padding: 2rem;
  text-align: center;
  background: white;
  border-radius: 6px;
}
.board-play {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.board-play img {
  width: 60px;
}
.board-play img.animated{
  animation: appear .2s linear;
}
@keyframes appear {
  0%{
    scale: .5;
    opacity: 0;
  }
}
.board-play .player-content{
  font-weight: 300;
  font-size: .9rem;
  text-align: center;
}
#versus {
  color: #8256e7;
}
.game-output{
  padding: 9px;
  color: white;
  font-size: .9rem;
  text-align: center;
  margin-top: 3rem;
  border-radius: 6px;
  background: #8256e7;
}
.username {
  display: flex;
  align-items: center;
  justify-content: center;
}
.username input, button{
  width: 100%;
  padding: 11px;
  margin-top: 9px;
  border-radius: 7px;

  color: #334;
  font-weight: 400;
  text-align: center;
  border: 2px solid transparent;
}
.username input:focus{
  outline: none;
  border: 3px solid #f8aa00;
}
.username button {
  color: white;
  cursor: pointer;
  background: #ffb700;
  transition: all .1s;
  box-shadow: 0px 3px 1px #666;
}
.username button:hover{
  background: #f8aa00;
} 
@media (max-width: 600px) {
  .grid-game{ scale: .7; }
}
@media (max-width: 400px) {
  .grid-game{ scale: .6; }
}